@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../src/assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

:root {
  --primary: #E4F1FF;
  --slate-200: #e2e8f0;
  --glassywhite: #ffffff25;

  --temp: #2dd4be46;
  --blue: #0871f146;
  --glassyblue: #0871f11b;
  --humidity: #38bff83f;
}

html {
  background-color: var(--primary);
  font-family: 'Gilroy', sans-serif;
}

.leaflet-container {
  height: 13rem !important;
  width: 100%;
  border-radius: 0.6rem;
  z-index: 10 !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--slate-200);
  border-radius: 8px;
  width: 5px;
}

#togglebar {
  width: 2.5rem !important;
  cursor: pointer !important;
}